body {
  background-image: url("./images/Background-1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 40px;
  color: crimson;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 20px;
}
.navbar {
  list-style-type: none;
  margin: auto;
  padding: 10px, 0px, 10px;
  border-width: 1px;
  font-size: 25px;
  width: 300px;
  height: 30px;
  text-align: left;
}
.buttons {
  color: darkslateblue;
  display: inline;
}
.buttons:hover {
  background-color: rgb(39, 199, 39);
}

.active {
  background-color: lightgreen;
}
.profileimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
.projectsimages {
  width: 500px;
}
.contactimages {
  width: 300px;
}
